JARBOUI_MOHAMED_LSI3_SOA_TP2/SOA_TP2/src/xsd/BanqueService.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT  BanqueService (conversion,getComptes,getCompte)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>


<!ELEMENT getCompte (Compte)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT Compte (code, DateCreation, solde)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>